In [123]:
import pandas as pd
data=pd.read_csv("C:/Python/loan_approval_pred/loan_u.csv")
print(data)
data.drop(columns=['Loan_ID','Married','Gender','CoapplicantIncome','Credit_History','Property_Area'],inplace=True)

      Loan_ID  Gender Married  Dependents     Education Self_Employed  \
0    LP001002    Male      No         0.0      Graduate            No
1    LP001003    Male     Yes         1.0      Graduate            No
2    LP001005    Male     Yes         0.0      Graduate           Yes
3    LP001006    Male     Yes         0.0  Not Graduate            No
4    LP001008    Male      No         0.0      Graduate            No
..        ...     ...     ...         ...           ...           ...
609  LP002978  Female      No         0.0      Graduate            No
610  LP002979    Male     Yes         3.0      Graduate            No
611  LP002983    Male     Yes         1.0      Graduate            No
612  LP002984    Male     Yes         2.0      Graduate            No
613  LP002990  Female      No         0.0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [92]:
data.columns

Index(['Dependents', 'Education', 'Self_Employed', 'ApplicantIncome',
       'LoanAmount', 'Loan_Amount_Term', 'Loan_Status'],
      dtype='object')

In [124]:
data.isnull().sum()

Dependents          15
Education            0
Self_Employed       32
ApplicantIncome      0
LoanAmount          22
Loan_Amount_Term    14
Loan_Status          0
dtype: int64

In [125]:
n_data=data.fillna(0)
n_data

,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status
0,0.0,Graduate,No,5849,0.0,360.0,Y
1,1.0,Graduate,No,4583,128.0,360.0,N
2,0.0,Graduate,Yes,3000,66.0,360.0,Y
3,0.0,Not Graduate,No,2583,120.0,360.0,Y
4,0.0,Graduate,No,6000,141.0,360.0,Y
...,...,...,...,...,...,...,...
609,0.0,Graduate,No,2900,71.0,360.0,Y
610,3.0,Graduate,No,4106,40.0,180.0,Y
611,1.0,Graduate,No,8072,253.0,360.0,Y
612,2.0,Graduate,No,7583,187.0,360.0,Y
613,0.0,Graduate,Yes,4583,133.0,360.0,N

In [126]:
n_data.Education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [127]:
n_data['Education']=n_data['Education'].replace(['Graduate', 'Not Graduate'],[1,0])
n_data

,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status
0,0.0,1,No,5849,0.0,360.0,Y
1,1.0,1,No,4583,128.0,360.0,N
2,0.0,1,Yes,3000,66.0,360.0,Y
3,0.0,0,No,2583,120.0,360.0,Y
4,0.0,1,No,6000,141.0,360.0,Y
...,...,...,...,...,...,...,...
609,0.0,1,No,2900,71.0,360.0,Y
610,3.0,1,No,4106,40.0,180.0,Y
611,1.0,1,No,8072,253.0,360.0,Y
612,2.0,1,No,7583,187.0,360.0,Y
613,0.0,1,Yes,4583,133.0,360.0,N

In [129]:
n_data.Self_Employed.unique()

array(['No', 'Yes', 0], dtype=object)

In [130]:
n_data['Self_Employed']=n_data['Self_Employed'].replace(['Yes', 'No'],[1,0])
n_data

,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status
0,0.0,1,0,5849,0.0,360.0,Y
1,1.0,1,0,4583,128.0,360.0,N
2,0.0,1,1,3000,66.0,360.0,Y
3,0.0,0,0,2583,120.0,360.0,Y
4,0.0,1,0,6000,141.0,360.0,Y
...,...,...,...,...,...,...,...
609,0.0,1,0,2900,71.0,360.0,Y
610,3.0,1,0,4106,40.0,180.0,Y
611,1.0,1,0,8072,253.0,360.0,Y
612,2.0,1,0,7583,187.0,360.0,Y
613,0.0,1,1,4583,133.0,360.0,N

In [131]:
n_data.Loan_Status.unique()
n_data['Loan_Status']=n_data['Loan_Status'].replace(['Y', 'N'],[1,0])
n_data

,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status
0,0.0,1,0,5849,0.0,360.0,1
1,1.0,1,0,4583,128.0,360.0,0
2,0.0,1,1,3000,66.0,360.0,1
3,0.0,0,0,2583,120.0,360.0,1
4,0.0,1,0,6000,141.0,360.0,1
...,...,...,...,...,...,...,...
609,0.0,1,0,2900,71.0,360.0,1
610,3.0,1,0,4106,40.0,180.0,1
611,1.0,1,0,8072,253.0,360.0,1
612,2.0,1,0,7583,187.0,360.0,1
613,0.0,1,1,4583,133.0,360.0,0

In [132]:
from sklearn.model_selection import train_test_split
x=n_data.drop(columns=['Loan_Status'])
y=n_data['Loan_Status']

In [133]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [135]:
x_train.shape,x_test.shape

((491, 6), (123, 6))

In [136]:
print(x_train.dtypes)

Dependents          float64
Education             int64
Self_Employed         int64
ApplicantIncome       int64
LoanAmount          float64
Loan_Amount_Term    float64
dtype: object

In [137]:
x_test.dtypes

Dependents          float64
Education             int64
Self_Employed         int64
ApplicantIncome       int64
LoanAmount          float64
Loan_Amount_Term    float64
dtype: object

In [105]:
#from sklearn.preprocessing import LabelEncoder

# Convert 'Dependents' column to string type

#x_train['Dependents'] = x_train['Dependents'].astype(str)

# Apply label encoding
#label_encoder = LabelEncoder()
#x_train['Dependents'] = label_encoder.fit_transform(x_train['Dependents'])
#x_train

In [138]:
y_train.shape,y_test.shape

((491,), (123,))

In [139]:
# Display column names in x_train
print(x_train.columns)

Index(['Dependents', 'Education', 'Self_Employed', 'ApplicantIncome',
       'LoanAmount', 'Loan_Amount_Term'],
      dtype='object')

In [140]:
y_train.dtype
y_test.dtype

dtype('int64')

In [141]:
print("Shape of x_train:", x_train.shape)
print("Shape of y_train:", y_train.shape)

Shape of x_train: (491, 6)
Shape of y_train: (491,)

In [142]:
print("Data type of x_train:", x_train.dtypes)

Data type of x_train: Dependents          float64
Education             int64
Self_Employed         int64
ApplicantIncome       int64
LoanAmount          float64
Loan_Amount_Term    float64
dtype: object

In [143]:
print("Unique values in y_train:", y_train.unique())
print("Value counts in y_train:")
print(y_train.value_counts())

Unique values in y_train: [0 1]
Value counts in y_train:
Loan_Status
1    342
0    149
Name: count, dtype: int64

In [112]:
# Replace '3+' with a suitable numeric value
#x_train['Dependents'] = x_train['Dependents'].replace('3+', 3).astype(int)
#x_train = pd.get_dummies(x_train, columns=['Dependents'], drop_first=True)

In [144]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)

lg = LogisticRegression()
lg.fit(x_train_scaled, y_train)

# Assuming 'Dependents' is the categorical variable

# Get the columns used for scaling in the training set
columns_used_for_scaling = x_train.columns.tolist()

# Ensure that the test set has the same columns as the training set
x_test = x_test.reindex(columns=columns_used_for_scaling, fill_value=0)

# Scale the features in the test set using the same scaler
x_test_scaled = scaler.transform(x_test)

accuracy = lg.score(x_test_scaled, y_test)

# Print the accuracy score
print("Logistic Regression Accuracy:", accuracy)

Logistic Regression Accuracy: 0.6504065040650406

In [145]:
from sklearn.ensemble import RandomForestClassifier
cl=RandomForestClassifier()
cl.fit(x_train_scaled, y_train)
accuracy_r= cl.score(x_test_scaled, y_test)

# Print the accuracy score
print("Rand  Accuracy:", accuracy_r)

Rand  Accuracy: 0.6422764227642277

In [146]:
from sklearn.svm import SVC

# Create and train the SVM model
svm = SVC()
svm.fit(x_train_scaled, y_train)

# Evaluate the model on the test set
accuracy_svm = svm.score(x_test_scaled, y_test)
print("SVM Accuracy:", accuracy_svm)

SVM Accuracy: 0.6341463414634146

In [116]:
from sklearn.ensemble import GradientBoostingClassifier

# Create and train the Gradient Boosting model
gb = GradientBoostingClassifier()
gb.fit(x_train_scaled, y_train)

# Evaluate the model on the test set
accuracy_gb = gb.score(x_test_scaled, y_test)
print("Gradient Boosting Accuracy:", accuracy_gb)

Gradient Boosting Accuracy: 0.6016260162601627

In [147]:
import pickle as pk
pk.dump(lg,open('lg.pk1','wb'))
pk.dump(scaler,open('scaler.pk1','wb'))